* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #009988;
    width: 100%;
    height: 12%;
    position: absolute;
    top: 0;
    left: 0;
}

body,
html {
    background: linear-gradient(180deg, rgba(218,219,211,1) 0%, rgba(208,219,220,1) 61%);
}

main {
    height: 96vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.container-fluid {
    background-color: #ffffff;
    max-width: 80vw;
    display: flex;
    justify-content: center;
    position: relative;
}

.row {
    width: 100%;
}

.contacts-container {
    flex-direction: column;
    display: flex;
    flex-shrink: 0;
    height: 100%;
}

.contacts-navbar {
    border-right: 1px solid #b1b1b1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-height: 80px;
    background-color: #EAEAEA;
}
.contacts-navbar img {
    width: 48px;
    border-radius: 50px;
}

.alerts-line {
    background-color: #8edafc;
}
.alerts-line-text {
    font-size: .7rem;
    margin: 0;
    font-size: .9rem;
}

.bell-icon {
    background-color: #ffffff;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.d-flex-custom {
    background-color: #FFFFFF;
    flex-grow: 1;
    border-radius: 5px;
    align-items: center;
}
.d-flex-custom i {
    padding: .5rem;
    font-size: 1.2rem;
}

.btn.btn-light {
    border-color: #ffffff;
}

.search-bar {
    background-color: #fafafa;
}

.form-control {
    width: 100%;
}

.avatar img {
    width: 48px;
    border-radius: 50px;
}
 
.messages-container {
    display: flex;
    flex-direction: column;
}

.messages-navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-height: 80px;
    background-color: #EAEAEA;
}

.messages-navbar img {
    width: 48px;
    border-radius: 50px;
}

.chat-container {
    background-image: url(../img/mine.jpg);
    height: 100%;
}

.form-control {
    background-color: #ffffff;
    margin-left: auto;
    border-color: #ffffff;
}

.single-message-wrapper {
    display: flex;
    flex-direction: column;
}

.chat-baloon.sent {
    align-self: flex-end;
    border-radius: 1rem;
    padding: 1rem;
    margin: .5rem;
    background-color: #CCFAB3;
    display: inline-block;
    min-width: 250px;
}

.chat-baloon.received {
    align-self: flex-start;
    border-radius: 1rem;
    padding: 1rem;
    margin: .5rem;
    background-color: #ffffff;
    display: inline-block;
    min-width: 250px;
}

.chat-navbar {
    background-color: #F4EEEA;
}

.chat-navbar.btn {
    padding: 2rem 1rem;
}

.message-time {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: right;
    font-size: .6rem;
    padding: .3rem;
}