* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #009988;
    height: 150px;
    position: relative;
}

body,
html {
    background: linear-gradient(180deg, rgba(218,219,211,1) 0%, rgba(208,219,220,1) 61%);
}

.container-fluid {
    max-width: 80vw;
    display: flex;
    justify-content: center;
    position: relative;
}

.row {
    width: 100%;
    margin-top: -130px;
}

.contacts-container {
    flex-direction: column;
}

.contacts-navbar {
    border-right: 1px solid #b1b1b1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-height: 80px;
    background-color: #EAEAEA;
}
.contacts-navbar img {
    width: 50px;
    border-radius: 50px;
}

.alerts-line {
    background-color: #8edafc;
}
.alerts-line-text {
    font-size: .7rem;
    margin: 0;
    font-size: .9rem;
}

.bell-icon {
    background-color: #ffffff;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.d-flex-custom {
    background-color: #FFFFFF;
    flex-grow: 1;
    border-radius: 5px;
    align-items: center;
}
.d-flex-custom i {
    padding: .5rem;
    font-size: 1.2rem;
}

.search-bar {
    background-color: #fafafa;
}

.form-control {
    width: 100%;
}

.messages-container {
    display: flex;
    flex-direction: column;
}

.messages-navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-height: 80px;
    background-color: #EAEAEA;
}

.messages-navbar img {
    width: 50px;
    border-radius: 50px;
}

.chat-container {
    background-image: url(../img/mine.jpg);
    height: 100%;
}

.form-control {
    background-color: #CCFAB3;
    margin-left: 40rem;
}